<!-- wp:template-part {"slug":"header","theme":"musicmantra"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"musicmantra/banner-layout"} /-->
  <!-- wp:pattern {"slug":"musicmantra/events-list"} /-->
  <!-- wp:pattern {"slug":"musicmantra/newsletter-section"} /-->
  <!-- wp:pattern {"slug":"musicmantra/content-section"} /-->
  <!-- wp:pattern {"slug":"musicmantra/content-section-2"} /-->
  <!-- wp:pattern {"slug":"musicmantra/photo-gallery"} /-->
  <!-- wp:pattern {"slug":"musicmantra/service-section"} /-->
  <!-- wp:pattern {"slug":"musicmantra/latest-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"musicmantra"} /-->
